<body class="container">
    <div class="row">
        <div class="col-5 pt-5">
            <%- include("sidebar.ejs") %>

        </div>
        <div class="col-7 pt-5">
            <div>
                        <h1></h1>
            </div>
            <div class="text-center">
                <%- include("footer.ejs") %>
            </div>
        </div>
    </div>
</body>