<footer>
    <h2 class="text-center">This is Inside the footer</h2>
    <!-- <div class="d-flex justify-content-center">
        <form action="/create" method="POST">
            <input class="btn btn-success btn-lg" type="submit" value="Create Todo">
        </form>
        <form action="/todo/code" method="PUT">
            <input class="btn btn-primary btn-lg mx-2" type="submit" value="update Todo">
        </form>
        <form action="/todo/code" method="DELETE">
            <input class="btn btn-danger btn-lg" type="submit" value="Delete Todo">
        </form>
    </div>  -->

</footer>