<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Todos</title>
</head>

<body>
    <h1 class="make-header pb-1">Todos:</h1>

    <div>
        <div>
            <% if (locals.todoList) {%>
                <form class="form" action="/find-todo" method="POST">
                    <label for="string" class="form-label"></label>
                    <input class="form-control myText" type="text" placeholder="Search Todo Title"
                        aria-label="default input example" name="string">
                </form>
                <%}%>
        </div>

        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action active cust-label create-button"
                aria-current="true">
                Link to Todo Create page
            </a>
            <a href="/all-todos"
                class="list-group-item list-group-item-action border border-dark rounded-3 rounded-top-0 btn create-button">Link
                To see all Todos</a>
            <!-- The Code below Loops through the Array passed and Makes titles/links for each Todo -->
            <% if (locals.todoList) {%>

                <% for (i=0;i<todoList.length;i++) {%>
                    <div class="container todo-list border border-2 rounded-4 mt-5 pb-3">

                        <div class="row pt-5 ">
                            <!-- This the html route to View a todo -->
                            <form class="text-center col" action="/content" method="POST">
                                <input type="submit" value=<%=i%> aria-label="default input example"
                                class="list-group-item
                                list-group-item-action todo-view col hidden-number todo-view btn" name="value"></input>
                                <label for="value" class="make-header">
                                    <%=locals.todoList[i].title %>
                                </label>
                            </form>
                            <!-- This the html route to Edit a todo -->
                            <form class="text-center col" action="/edit-todo" method="POST">
                                <input type="submit" value=<%=i%> aria-label="default input example"
                                class="list-group-item
                                list-group-item-action hidden-number todo-edit btn" name="value"></input>
                                <label for="value" class="make-header">Edit
                                </label>
                            </form>
                            <!-- This the html route to Delete a todo -->
                            <form class="text-center col" action="/delete-todo" method="POST">
                                <input type="submit" value=<%=i%> aria-label="default input example"
                                class="list-group-item
                                list-group-item-action hidden-number todo-delete btn" name="value"></input>
                                <label for="value" class="make-header">Remove
                                </label>
                            </form>
                        </div>
                    </div>
                    <%}} %>

                        <!-- <a href="?" class="list-group-item list-group-item-action">Second Todo made ect.</a> -->
        </div>
    </div>
</body>


</html>