<body class="container">
    <div class="row">
        <div class="col-5 pt-5">
            <%- include("components/sidebar.ejs") %>

        </div>
        <div class="col-7 pt-5">
            <div>
                <% if (locals.todoList) {%>
                <% for (i=0;i<todoList.length;i++) {%>

                    <p><%- locals.todoList[i].html() %> </p>

                        <%}} %>
            </div>
            <div class="text-center">
                <%- include("components/footer.ejs") %>
            </div>
        </div>
    </div>
</body>