<body class="container">
    <div class="row">
        <div class="col-5 pt-5">
            <%- include("components/sidebar.ejs") %>
        </div>
        <div class="col-7 pt-5">
            <% if (locals.todoList) {%>
                <!-- This block of html for grabbing the todo selected and allow the user to edit the content inside -->
            <form class="text-center" action="/post-edit" method="PUT">
                <label for="title" class="form-label">Edit Title</label>
                <input class="form-control" type="text" value="<%= locals.todoList[locals.tempval].title %>" aria-label="default input example"
                    name="title">
                <label for="content" class="form-label">Edit Todo Content</label>
                <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="10" required
                    name="content"><%= todoList[tempval].content %></textarea>
                <input class="btn btn-success btn-lg mt-3" type="submit" value="Edit Todo">
            </form>
            <% } %>
            <div class="text-center">
                <%- include("components/footer.ejs") %>
            </div>
        </div>
    </div>
</body>
