<body class="container whole-body">
    <div class="row">
        <div class="col-5 pt-5 sidebar">
            <%- include("components/sidebar.ejs") %>
        </div>
        <div class="col-6 pt-5 content">
            <%- include("components/form-edit.ejs") %>
                <div class="text-center">
                    <%- include("components/footer.ejs") %>
                </div>
        </div>
    </div>
</body>