<body class="container whole-body">
    <div class="row">
        <div class="col-5 pt-5">
            <%- include("components/sidebar.ejs") %>

        </div>
        <div class="col-7 pt-5">
            <h1 class="text-center">Failed To Find The Todo, Please Try Again! Or... </h1>
            <%- include("components/form.ejs") %>
                <div class="text-center">
                    <%- include("components/footer.ejs") %>
                </div>
        </div>
    </div>
</body>