:root {
  --mySolidBlue: #5AA9E6;
  --myLightBlue: #7FC8F8;
  --myWhite: #F9F9F9;
  --myYellow: #FFE45E;
  --myPink: hsl(342, 100%, 69%);
}

/* Form/Form-edit/globalfonts styling */
.make-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--myWhite);
}

.make-header-fail {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--myPink);
}

.myText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cust-label {
  font-style: italic;
}

.whole-body {
  background-color: var(--myLightBlue);
}

.form-body {
  background-color: var(--myYellow);
}

.edit-form-body {
  background-color: var(--myYellow);
}

.create-button {
  background-color: var(--mySolidBlue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.edit-button {
  background-color: var(--myPink);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ---- */

/*  sidebar.ejs specific styling */

.todo-list {
  background-color: var(--mySolidBlue);
}

.hidden-number {
  color: transparent;
}

.hidden-number:hover {
  color: transparent;
}

.todo-delete {
  background-color: var(--myPink);
}

.todo-view {
  background-color: var(--myLightBlue);
}

.todo-edit {
  background-color: var(--myYellow);
}

/* ---- */

/* allTodos.ejs/content.ejs specific styling */

.all-todos-container {
  background-color: var(--mySolidBlue);
  margin-top: 16%;
  margin-left: 10%;
  margin-right: 10%;
}



/* footer.ejs */

.footer-cust{
  font-size: 10px;
}


/* Mobile Media Query */

@media (max-width: 576px) {
.sidebar {
  width: 100%;
}

.content {
  width: 100%;
}

}

